html
{
    width: 100%;
    height: 100%;
}
body
{
    width: 98%;
    height: 98%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('./img/img.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1
{
    background-color: rgb(198, 255, 252);
    padding: 5px 20px;
    margin: 0px 0px 20px 0px ;
    border: 1px solid #60c5ff;
    border-radius: 5px;
    text-align: center;
}
main
{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px 150px;
    border-radius: 15px;
    border: 1px solid #929292;
    background-color: rgb(181, 250, 255, 0.5);
    box-shadow: 0px 50px 50px 10px rgba(0,0,0,0.75);
}
form
{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d1ece8;
    padding: 20px 50px;
    border-radius: 5px;
    border: 1px solid #00000063;
}
form > input
{
    margin: 5px 0px;
    background-color: rgb(245, 245, 245);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    width: 200px;
}
form > p
{
    width: 100%;
    margin: 20px 0px 0px 0px;
    text-align: left;
}
.botones
{
    background-color: transparent;
    border: none;
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 0px 0px 0px;
    padding: 0px;
}
.botones button
{
    margin: 5px 10px;
    background-color: rgb(105, 105, 105);
    color: white;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
}
#limpiar:hover
{
    cursor: pointer;
    background-color: rgb(175, 175, 175);
}
#limpiar
{
    display: flex;
    align-items: center;
}
.botones p
{
    margin: 0px;
    padding: 0px;
}
.botones img
{
    background:none;
    border: none;
    width: 20px;
    margin: 0px;
    padding: 0px;
}

#enviar
{
    display: flex;
    align-items: center;
    margin: 5px 10px;
    background-color: rgb(105, 105, 105);
    color: white;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
}

#enviar:hover
{
    cursor: pointer;
    background-color: rgb(175, 175, 175);
}

#enviar input
{
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
}